<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite parallel="tests" name="Suite">
	
	<!-- If we want to run all the methods at once we need to put parallel="methods"-->
	<!-- The thread-count gives us the ability that at a time maximum 5 methods can run parallely-->
	
  <test thread-count="5" name="Positive Tests">
	  
    <classes>
      <class name="somoCompany.Tests.appValidationsTest"/> 
    </classes>
    
  </test> <!-- Test -->
  
  <test thread-count="5" name="Negative Tests">
    <classes>
      <class name="somoCompany.Tests.ErrorValidationsTest"/>
    </classes>
  </test> 
  
</suite> <!-- Suite -->



